<div id="side_bar" class="col-md-3">
	<ul>
		<!-- TODO: Create a loop that accesses each section available for the selected section -->
		<% @lang_pages.each do |lp| %>
			<li><%= lp %></li>
		<% end %>
	</ul>
</div>
	
	
